

.data-info {
    margin-top: 15px;
    display: flex;
    width: 80%;
    margin-left: 6%;
    justify-content: center;
   text-align: start;
   font-size: 20px;
   white-space: unset;
}

iframe {
    border-radius: 5%;
    margin-left: 5%;
}

img {
    width: 250px;
    height: 200px;

    border-radius: 5%;
}

.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.data-container {
    margin-top: 10%;
    margin-left: 10%;

    
}

.icon {
    width: 30px;
    height: 30px;
    
}


@media (max-height: 680px), screen and (orientation: portrait) {
  .images {
   flex-direction: column;
   margin-top: 5px;

  }

  img {
    margin-left: auto;
    margin-right: auto;
  }

  .images iframe {
      margin-top: 5px;
      width: 250px;
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5%;
  }

   .back-button {
       margin-bottom: 5px;
   }
 
}